---
import Heading from "./Heading.astro";
import Text from "./Text.astro";
import Link from "./Link.astro";

const {
  title = "",
  subtitle = "",
  text1 = "",
  text2 = "",
  text3 = "",
  imagelink = "",
  imagetext = "",
  color = "body",
  linktext = "Læs mere",
  href = "#",
} = Astro.props;
---

<section
  class="relative bg-base-200 p-[var(--spacing-horizontal-2xl)] items-center my-[var(--margin-v-sektioner-small)] lg:my-[var(--margin-v-sektioner-large)] max-[1150px]:mx-[var(--margin-h-sektioner-small)] lg:mx-[var(--margin-h-sektioner-xlarge)]"
>
  <div
    class="absolute -left-2 lg:-left-3 top-1/4 w-4 lg:w-6 h-1/3 md:h-1/2 bg-secondary rounded-full"
  >
  </div>

  <!-- Parent med flex/grid -->
  <div class="xl:flex flex-row gap-4 items-center">
    <!-- VENSTRE KOLONNE: tekst -->
    <div class="flex-1">
      <Heading
        htmlheading="h2"
        size="medium"
        weight="heavy"
        stylingclasses="mb-[var(--spacing-vertical-l)]"
        color="label"
      >
        {title}
      </Heading>
      <Text
        teksttype="headline"
        stylingclasses="mb-[var(--spacing-vertical-l)]"
        weight="bold"
        color={color}
      >
        {subtitle}
      </Text>
      <Text
        teksttype="body"
        stylingclasses="mb-[var(--spacing-vertical-m)]"
        weight="regular"
        color="body"
      >
        {text1}
      </Text>
      <Text
        teksttype="body"
        stylingclasses="mb-[var(--spacing-vertical-m)]"
        weight="regular"
        color="body"
      >
        {text2}
      </Text>
      <Text teksttype="body" stylingclasses="" weight="regular" color="body">
        {text3}
      </Text>

      <!-- valgfri knap -->
      <div class="mt-[var(--spacing-vertical-l)]">
        <Link
          variant="linkbutton"
          size="small"
          href={href}
          buttoncolor="secondary"
          color="body"
        >
          {linktext}
        </Link>
      </div>
    </div>

    <!-- HØJRE KOLONNE: media -->
    <div
      class="flex-1 md:p-[var(--spacing-horizontal-xl)] p-[var(--spacing-horizontal-l)]"
    >
      <slot name="media">
        <img src={imagelink} alt={imagetext} class="mx-auto" />
      </slot>
    </div>
  </div>
</section>
