---
import Heading from "./Heading.astro";
import Text from "./Text.astro";

const { title = "", subtitle = "", text1 = "", text2 = "", text3 = "", imagelink = "", imagetext = "", color = "body" } = Astro.props;
---

<section class="relative bg-base-200 p-[var(--spacing-horizontal-2xl)] mx-[var(--margin-h-sektioner-small)] md:mx-[var(--margin-h-sektioner-large)] items-center">
  <div class="absolute -left-3 top-1/4 w-6 h-1/3 md:h-1/2 bg-secondary rounded-full"></div>
  <div class="min-[950px]:grid grid-cols-[2fr_1fr] gap-4 items-center">
    <div class="">
      <Heading htmlheading="h2" , size="medium" , weight="heavy" , stylingclasses="mb-[var(--spacing-vertical-l)]" , color="label">{title}</Heading>
      <Text teksttype="headline" , stylingclasses="mb-[var(--spacing-vertical-l)]" , weight="bold" , color={color} ,>{subtitle}</Text>
      <Text teksttype="body" , stylingclasses="mb-[var(--spacing-vertical-m)]" , weight="regular" , color="body" ,>{text1}</Text>
      <Text teksttype="body" , stylingclasses="mb-[var(--spacing-vertical-m)]" , weight="regular" , color="body" ,>{text2}</Text>
      <Text teksttype="body" , stylingclasses="" , weight="regular" , color="body" ,>{text3}</Text>
      <!-- Indsæt knap her -->
    </div>
    <img class="mx-auto min-[1140px]:p-[var(--spacing-horizontal-xl)] p-[var(--spacing-horizontal-l)]" src={imagelink} alt={imagetext} />
  </div>
</section>
